body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#adminBtn {
  width: 80px;
  height: 30px;
  color: aliceblue;
  background-color: cadetblue;
}

#readerBtn {
  width: 80px;
  height: 30px;
  color: aliceblue;
  background-color: cornflowerblue;
}
