<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/admin.css' />
</head>
<body>
        <% quote.forEach(function(item) { %>
                <div class="container">
                <p id="contentId"><%= item.content %></p>
                <p id="nameId"><%= item.name %></p>
                <p>
                    <a href="/edit?ID=<%= item.ID %>"><button>Update in DB</button></a>
                    <a href="/delete?ID=<%= item.ID %>"><button>Delete</button></a>
                </p>
            </div>
    <% }); %>
    <div>
    <a href="form"><button>Add new quote</button></a>
</div>
</body>
</html>