<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="admin"><button id="adminBtn">Admin</button></a>
    <a href="reader"><button id="readerBtn">Reader</button></a>
  </body>
</html>